/* Header.css */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  height: 64px;
  background: black;
  color: white;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 24px;

  z-index: 1000;
}
